/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

/*variables*/
:root {
    --primary-color: #0081A7;
    --secondary-color: #00AFB9;
}

/*resets*/

* {
    font-family: "Protest Riot";
    color: var(--primary-color);
    margin: 10px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

img {
    max-width: 100%;
}

/*custome styles*/

/*#header {
    background-image: url('./images/dana-background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
*/

#header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-size: cover;
    top: 50px;
}

.logo {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    right: 30px;
    color: #FDFCDC;
    font-size: 50px;
}

.navigation {
    position: absolute;
    display: block;
    /*z-index: 2;*/
    right: 15px;
}

ul {
    display: flex;
    flex-direction: row;
}

.header-pic {
    display: block;
    width: 100%;
    background-size: cover;
    top: 30px;
}

section {
    padding: 10px;
}

h2 {
    font-size: 24px;
}

#aboutme {
    padding: 10px;
}

#mywork {
    background-color: grey;
    padding: 1.5em;
}

.grid-header {
    text-align: center;
    font-size: 34px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex: 1;
    gap: 10px;
    background-color: #FDFCDC;

}

.work-list article {
    border: 5px solid #00AFB9;
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;

}

section article.mainApp {
    grid-column: 1 / 4;
    padding: 45px 25px;
}

.mainApp {
    display: flex;
    flex-direction: column;
}

.mainapp-icon {
    height: auto;
    width: auto;
}

#contactinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width 400px) {
    html {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .logo {
        font-size: 100px;
    }

    h2,
    .grid-header {
        font-size: 50px;
    }

    #aboutme,
    ul {
        font-size: 30px;
    }

    #mywork {
        max-width: 50%;
        margin: auto;
    }

}

@media (min-width: 2000px) {
    html {
        width: 80%;
    }
}