/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

/*variables*/
:root {
    --primary-color: #0081A7;
    --secondary-color: #00AFB9;
}

/*resets*/



* {
    font-family: "Protest Riot";
    color: var(--primary-color);
}

/*custome styles*/

/*#header {
    background-image: url('./images/dana-background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
*/

#header {
    position: relative;
}

.logo {
    position: absolute;
    display: flex;
    align-items: flex-end;
    z-index: 2;

}

.navigation {
    position: absolute;
    z-index: 2;
}

.header-pic {
    display: block;
    z-index: 1;
    width: 100%;
    height: auto;
    background-size: cover;
}